*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--fg);
}

@font-face {
  font-family: ArkitechLight;
  src: url('/fonts/ArkitechLight.otf');
}